BasedOnStyle: WebKit
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignOperands: Align
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AlignEscapedNewlines: Left
BreakBeforeBraces: Allman
IndentPPDirectives: BeforeHash
NamespaceIndentation: None
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
AlwaysBreakTemplateDeclarations: Yes
BinPackParameters: false
